<?xml version='1.0' encoding='utf-8'?>
<widget id="net.tipstrade.maths-quiz" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Maths-Quiz</name>
  <description>
      Uncle John's math quiz.
  </description>
  <author href="https://github.com/oobayly"/>
  <content src="index.html"/>
  <!-- Access control -->
  <access origin="*"/>
  <!-- Plugins -->
  <gap:plugin name="cordova-plugin-console" source="npm"/>
  <gap:plugin name="cordova-plugin-device" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="2.0.0"/>
  <gap:plugin name="ionic-plugin-keyboard" source="npm"/>
  <!-- Preferences -->
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
      <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
</widget>
